.movie-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card__link {
  display: block;
}

.movie-card__image {
  width: 100%;
  height: 100%;
  max-height: 201px;
  object-fit: cover;
  margin: 0;
  border-radius: 5px;
}

.movie-card__image-container:hover .movie-card__save-button {
  display: block;
}

.movie-card__info {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
}

.movie-card__title {
  padding: 0;
  max-width: 250px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.movie-card__duration {
  margin: 10px 14px 0 0;
  display: inline-flex;
  width: 52px;
  height: 18px;
  background: #f9f9f9;
  border-radius: 3px;
  color: #A0A0A0;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
}

.movie-card__save-button {
  display: none;
  position: absolute;
  top: 14px;
  right: 14px;
  border: 0;
  border-radius: 30px;
  width: 72px;
  height: 21px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  cursor: pointer;
  z-index: 1;
}

.movie-card__save-button_type_saved {
  display: block;
  background: url(../../images/saved-icon.svg);
  width: 21px;
  height: 21px;
}

.movie-card__save-button_type_delete {
  position: absolute;
  top: 14px;
  right: 14px;
  border: 0;
  width: 21px;
  height: 21px;
  border-radius: 30px;
  cursor: pointer;
  background-color:#fff;
  background: url(../../images/delete-movie.svg);

}

@media (max-width: 768px) {
  .movie-card__image {
    max-height: 190px;
  }

  .movie-card__title {
    margin-left: 0;
  }

  .movie-card__duration {
    margin-right: 0;
  }

  .movie-card__save-button {
    display: block;
  }
}

@media (max-width: 425px) {
  .movie-card__image {
    max-height: 168px;
  }

  .movie-card__title {
    margin-left: 0;
  }

  .movie-card__duration {
    margin-right: 0;
  }
}