.movies__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
  
.movies__text {
  position: absolute;
  top: 60px;
  text-align: center;
  max-width: 800px;
  margin: 0;
  padding: 0 70px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}