.form-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}
  
.form-input:last-of-type {
    margin-bottom: 0;
}
  
.form-input__title {
    color: #a0a0a0;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    padding: 0;
}
  
.form-input__input {
    width: 100%;
    height: 46px;
    border: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 10px 0 0;
    padding: 15px;
}
  
.form-input__error {
    color: #ff4062;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 110%
}
  
@media (max-width: 425px) {
    .form-input__title {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}